TaraOSv1/artifacts
TaraOSv1/*.exe
TaraOSv1/*.dll
TaraOSv1/*.json
TaraOSv1/*.pdb

TaraOSv1/TaraOS\ Compile\ Tool
TaraOS\ Compile\ Tool/.vs
TaraOS\ Compile\ Tool/bin
TaraOS\ Compile\ Tool/obj

TaraOSv1/TaraOS Compile Tool
TaraOS Compile Tool/TaraOS Compile Tool/obj/
TaraOS Compile Tool/TaraOS Compile Tool/bin/
TaraOS Compile Tool/TaraOS Compile Tool/.vs/

.DS_Store
.vscode

