TaraOSv1/artifacts
TaraOSv1/*.exe
TaraOSv1/*.dll
TaraOSv1/*.json
TaraOSv1/*.pdb
TaraOS\ Compile\ Tool/.vs
TaraOS\ Compile\ Tool/bin
TaraOS\ Compile\ Tool/obj
.DS_Store
.vscode
TaraOS Compile Tool/TaraOS Compile Tool/obj/
.vs
